.container {
  padding: calc(var(--divider-space) / 2) ;
  border-radius: var(--custom-border-radius);
  cursor: pointer;
}
.selected {
  border: 1px solid var(--primary);
}
.unselected {
  border: 1px solid var(--input-field-label);
}