.container {
  width: calc(var(--builder-width) - 2 * var(--divider-space));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header>h2 {
  margin: 0;
}
.close_button {
  position: absolute;
  right: 0;
}
.body {
  width: 100%;
}
.footer {
  width: 100%;
}