.container_editor {
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container_close_button {
  align-self: flex-end;
  margin-right: calc(var(--divider-space) * -0.5);
  margin-top: calc(var(--divider-space) * -0.5);
  margin-bottom: calc(var(--divider-space) / 2);
}

.container_template {
  flex: 1 1 auto;
}

.container_color_selectors {
  display: flex;
  justify-content: space-around;
}

.container_color_selectors>div {
  margin: 0px 10px;
}