.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  border-radius: var(--custom-border-radius);
  padding: var(--divider-space) 0;
}
.container_photo {
  height: 200px;
  width: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo {
  height: 100%;
}