.input {
  height: 48px;
  padding: 14px 14px 14px 16px;
  box-sizing: border-box;
  line-height: 19px;
  border-radius: var(--custom-border-radius);
  font-size: 15px;
  font-family: var(--font-family);
  width: 100%;
  background-color: var(--input-field-background);
  color: var(--secondary-font-color);
  caret-color: var(--secondary-font-color);
  outline: none;
  border: none;
  resize: none;
}
.input:hover, .input:focus {
  background-color: var(--input-field-hover);
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}