.input {
  composes: input_field from global;
  background-color: var(--input-field-background);
  color: var(--secondary-font-color);
  caret-color: var(--secondary-font-color);
  outline: none;
  border: none;
  font-size: 15px;
}
.input:hover, .input:focus {
  background-color: var(--input-field-hover);
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}
.input:focus {
  outline: none;
}
