.dialog {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  background-color: var(--background-dialog)
}

.inactive {
  display: none;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--background-secondary);
  margin: auto;
  padding: var(--divider-space);
  border-radius: var(--custom-border-radius);
  box-shadow: var(--custom-box-shadow);
  -webkit-animation-name: animate;
  -webkit-animation-duration: 0.4s;
  animation-name: animate;
  animation-duration: 0.4s
}

@-webkit-keyframes animate {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes animate {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}