.container {
  padding: calc(var(--divider-space) / 2);
  border-radius: var(--custom-border-radius);
  cursor: pointer;
  position: relative;
}

.selected {
  border: 1px solid var(--primary);
}

.unselected {
  border: 1px solid var(--divider-secondary-color);
}

.editor_button {
  position: absolute;
  bottom: calc(var(--divider-space) / 2);
  right: calc(var(--divider-space) / 2);
}