.container {
  width: var(--builder-width);
  max-width: 90%;
  background-color: var(--secondary);
  color: var(--secondary-font-color);
  border-radius: var(--custom-border-radius) var(--custom-border-radius) 0 0;
  box-shadow: none;
  position: relative;
  z-index: 1;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.title {
  padding: 10px 30px;
  margin-top: 20px;
  font-weight: bold;
}