.btn {
  composes: btn from global;
  background-color: var(--primary);
  color: var(--primary-font-color);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  width: 200px;
}
.btn:hover {
  background-color: var(--primary-hover);
}