.input {
  composes: input-field from global;
  height: var(--input-btn-height);
}
.input:hover,
.input:focus {
  background-color: var(--input-field-hover);
  box-sizing: border-box;
  transition: background-color var(--custom-transition-time) ease-in-out;
}