.header {
  width: 100%;
  background-color: var(--background-primary);
  color: var(--background-primary-font-color);
}

.container {
  width: calc((100% - var(--builder-width)) / 2);
  min-width: 200px;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    justify-content: flex-start;
  }
}