.footer {
  width: 100%;
  min-height: 150px;
  background-color: #35454D;
  color: var(--background-primary-font-color);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons svg {
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
  .logo {
    display: none;
  }
}