.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--divider-space) / 2) calc(var(--divider-space) * 3/2);
  color: var(--divider-secondary-color);
}
.info {
  margin-right: var(--divider-space);
}
.info>h4 {
  margin: 5px 0px;
}
.info>p {
  margin: 5px 0px;
}
.buttons_container {
  display: flex;
  align-items: center;
}
.buttons_container button {
  all: unset;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
}
.buttons_container button:hover {
  background-color: var(--input-field-background);
}
.divider {
  padding: 0px var(--divider-space);
}

@media only screen and (max-width: 600px) {
  .description {
    display: none;
  }
}